@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title</h2>
<hr />
<address>
    TourRun<br />
    (тут адреса)<br />
</address>

<address>
    <p><strong>Телефон: </strong>425 555 0100</p>
    <p><strong>Електрона пошта: </strong><a href="mailto:admin@example.com">admin@example.com</a></p>
</address>